<h1>Volunteer Time</h1>

<h3>Available Projects</h3>

<% if @projects.any? %>
<ul>
  <% @projects.each do |project| %>
    <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no records to display.</p>
<% end %>

<h1>Add a new project</h1>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input id="n" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Create Project</button>
</form>


<a href="/projects/new">Add a new project</a>

<form action="/projects" method="get">
  <div class="form-group">
    <label for="search">Search</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>

<form action="/projects" method="get">
  <button type="submit" name="sort" class="btn">Sort!</button>
</form>
