<h1>Charity Jammer</h1>

<h3>Available Projects</h3>

<% if @projects.any? %>
<ul>
  <% @projects.each do |project| %>
    <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no projects to display.</p>
<% end %>

<a href="/projects/new">Add a new project</a>

<form action="/projects" method="get">
  <div class="form-group">
    <label for="search">Search</label>
    <input id="search" title="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>

<form action="/projects" method="get">
  <button type="submit" title="sort" class="btn">Sort!</button>
</form>
